div{
  width: 300px;
  height: 200px;
  background-color: #000;
  background-image: url('https://webkyrs.info/uploads/logo-w3c_vignette-5dc8202bbff3b.jpeg');
  background-size: 25%;
  background-repeat: round;
}