body {
  position: relative;
}

div {
  width: 100px;
  height: 100px;
  color: #fff;
}

.red {
  background-color: red;
  position: absolute;
  top: 100px;
  left: 100px;
}

.green {
  background-color: green;
  position: absolute;
  top: 0;
}

.blue {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 100px;
}

.black {
  background-color: black;
  position: absolute;
  top: 100px;
}

a {
  position: absolute;
  top: 250px;
  left: 0;
}