.contact {
  &__form {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;

    @include media('<tablet') {
      max-width: 80%;
    }

    @include media('<476px') {
      max-width: 90%;
    }

    input,
    textarea {
      width: 100%;
    }

    textarea {
      resize: none;
    }

    .btn {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  &__form-row {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;

    &--required {
      position: relative;

      &::before {
        position: absolute;
        content: '*';
        left: -12px;
        top: -5px;
        font-size: 20px;
        color: $accent;
      }
    }
  }

  &__frame-holder {
    display: flex;
    max-width: 60%;
    min-height: 50vh;
    margin: 0 auto;

    @include media('<tablet') {
      max-width: 80%;
    }

    iframe {
      width: 100%;
      height: auto;
    }
  }
}

.contact {
  .contact__form {
    margin-bottom: 60px;
  }
}